//-
   Created by Rem on 09.02.2015.

extends ./layouts/main.jade

block content
   h3 Hello!
   p.
      This a tiny web-service for mp3 tags synchonization.
      All you need to start using it is just go to #[a(href=urls.download) download page]
      and get gui client for a choosen platform.
   h3 Have a good day!